{% load static %}




<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Keyro Flavours</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<style>
{% block style %}{% endblock style %}
</style>
<body>

  <!--<div class="header" style="
  background: rgb(12, 12, 12) url('../static/img/heade.png') no-repeat fixed center
  {% if "appointment" in request.path %}
  max-height:300px!important;min-height:300px!important;
  {% endif %}
  ">
    
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
        
        <div style="text-align: left;"> <img src="{% static "img/amos.png" %}"width="100" height="" alt="loading..." /></a></div>
        <div class="container"><a class="navbar-brand" href="#">Appostle</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button> 
          
                  <li class="nav-item" role="presentation">
                    <a href="{% url 'manage' %}" style="float: left;cursor:pointer;" aria-expanded="true" title="You Have 6 New Appointments">
                      <i class="far fa-bell" style="font-size: 20px; float: left; color: black">
                      </i>
                  </a>
                  <span class="badge badge-danger">{{count}}</span>
                </li>
                  
         
                </ul>
            </div>
        </div>
    </nav>-->
     {% block content %}
        
        <body>

          <!DOCTYPE html>
          <html lang="en">
          
          <head>
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
          
            <title>Delicious Bootstrap Template - Index</title>
            <meta content="" name="description">
            <meta content="" name="keywords">
          
            <!-- Favicons -->
            <link href="assets/img/favicon.png" rel="icon">
            <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
          
            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">
          
            <!-- Vendor CSS Files -->
            <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
            <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
            <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
            <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
            <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
          
            <!-- Template Main CSS File -->
            <link href="assets/css/style.css" rel="stylesheet">
          
            <!-- =======================================================
            * Template Name: Delicious
            * Updated: Mar 10 2023 with Bootstrap v5.2.3
            * Template URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
            * Author: BootstrapMade.com
            * License: https://bootstrapmade.com/license/
            ======================================================== -->
          </head>
          
          <body>
          
            <!-- ======= Top Bar ======= -->
            <section id="topbar" class="d-flex align-items-center fixed-top topbar-transparent">
              <div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
                <i class="bi bi-phone d-flex align-items-center"><span>+254 74840 3481</span></i>
                <i class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span>Mon-Sat: 7:00 AM - 21:00 PM</span></i>
              </div>
            </section>
          
            <!-- ======= Header ======= -->
            <header id="header" class="fixed-top d-flex align-items-center header-transparent">
              <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
          
                


                <div class="logo me-auto">
                  <h1><a href="{% url 'home'%}"><strong>KEYRO FLAVOURS </strong></a></h1>
                  <!--Uncomment below if you prefer to use an image logo -->
                 <!-- <div style="text-align: left;"> <img src="{% static "img/amos.png" %}"width="100" height="150" alt="loading..." /></a></div> -->
                   
                </div>
          
                <nav id="navbar" class="navbar order-last order-lg-0">
                  <ul>
                    <li><a class="nav-link scrollto active" href="{% url 'home'%}">Home</a></li>
                    {% if request.user.is_superuser%}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" href="{% url 'manage' %}">Manage</a>
                      {% endif %}
                  </li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
                    <li><a class="nav-link scrollto" href="#specials">Specials</a></li>
                    <li><a class="nav-link scrollto" href="#events">Events</a></li>
                    <li><a class="nav-link scrollto" href="#chefs">Chefs</a></li>
                    <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>
                <!--    <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                          <ul>
                            <li><a href="#">Deep Drop Down 1</a></li>
                            <li><a href="#">Deep Drop Down 2</a></li>
                            <li><a href="#">Deep Drop Down 3</a></li>
                            <li><a href="#">Deep Drop Down 4</a></li>
                            <li><a href="#">Deep Drop Down 5</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                      </ul>
                    </li> -->
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                  </ul>
                  <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
          
                <a href="{% url "ordernow" %}" class="book-a-table-btn scrollto"><strong>MAKE YOUR ORDER</strong></a>
          
              </div>
            </header><!-- End Header -->
          
            <!-- ======= Hero Section ======= -->
            <section id="hero">
              <div class="hero-container">
                <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
          
                  <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
          
                  <div class="carousel-inner" role="listbox">
          
                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background-image: url(static/img/slide/slide-1.jpg);">
                      <div class="carousel-container">
                        <div class="carousel-content">
                          <h2 class="animate__animated animate__fadeInDown"><span>Fast Food</span> Restaurant</h2>
                          <p class="animate__animated animate__fadeInUp"> For Fast and Delicious foods trust Jake's FastFoods. We deliver to our customers the best and specially prepared snack foods. Make your order Now and we will reach you right at your location.</p>
                          <div>
                            <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                            <a href="{% url "ordernow" %}" class="btn-book animate__animated animate__fadeInUp scrollto">Make Your Order</a>
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <!-- Slide 2 -->
                    <div class="carousel-item" style="background-image: url(static/img/slide/slide-2.jpg);">
                      <div class="carousel-container">
                        <div class="carousel-content">
                          <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
                          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                          <div>
                            <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                            <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Book a Table</a>
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <!-- Slide 3 -->
                    <div class="carousel-item" style="background-image: url(static/img/slide/slide-3.jpg);">
                      <div class="carousel-container">
                        <div class="carousel-content">
                          <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
                          <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                          <div>
                            <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Our Menu</a>
                            <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Book a Table</a>
                          </div>
                        </div>
                      </div>
                    </div>
          
                  </div>
          
                  <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                  </a>
          
                  <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                  </a>
          
                </div>
              </div>
            </section><!-- End Hero -->
          
            <main id="main">
          
              <!-- ======= About Section ======= -->
              <section id="about" class="about">
                <div class="container-fluid">
          
                  <div class="row">
          
                    <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("static/img/about.jpg");'>
                      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                    </div>
          
                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
          
                      <div class="content">
                        <h3>Excellence in Our products and service <strong>Is the key drive for our Deliveries to Customers</strong></h3>
                        <p>
                          Jake's FastFoods is a restaurant In Thika with an aim of diversing technology to food business. 
                        </p>
                        <p class="fst-italic">
                          This restaurant was founded by two enthusiastic young men <strong>Amos Orupia & Joel Kamando</strong>. They are visualizing the restaurant to a door to door delivery all over Thika in one Year time. 
                        </p>
                        <ul>
                          <li><i class="bx bx-check-double"></i> Watch the video aside to Know more about this youngmen.</li>
                          <li><i class="bx bx-check-double"></i> Orders are made via the website and you'll be attended to immediately</li>
                          <li><i class="bx bx-check-double"></i> .</li>
                        </ul>
                        <p>
                          
                        </p>
                      </div>
          
                    </div>
          
                  </div>
          
                </div>
              </section><!-- End About Section -->
          
              <!-- ======= Whu Us Section ======= -->
              <section id="why-us" class="why-us">
                <div class="container">
          
                  <div class="section-title">
                    <h2>Why choose <span>Our Restaurant</span></h2>
                    <p>We guarantee to serve you the most delicious food .</p>
                  </div>
          
                  <div class="row">
          
                    <div class="col-lg-4">
                      <div class="box">
                        <span>01</span>
                        <h4>Always Available</h4>
                        <p>We reach or attend to your order in the shortest time possile.</p>
                      </div>
                    </div>
          
                    <div class="col-lg-4 mt-4 mt-lg-0">
                      <div class="box">
                        <span>02</span>
                        <h4>Delicious Meal</h4>
                        <p>We have the most experienced kitchen staff who perfom tasks out of heart.</p>
                      </div>
                    </div>
          
                    <div class="col-lg-4 mt-4 mt-lg-0">
                      <div class="box">
                        <span>03</span>
                        <h4> Best Around</h4>
                        <p>We trust in our service delivery and we believe that our recipes are more higher.</p>
                      </div>
                    </div>
          
                  </div>
          
                </div>
              </section><!-- End Whu Us Section -->
          
              <!-- ======= Menu Section ======= -->
              <section id="menu" class="menu">
                <div class="container">
          
                  <div class="section-title">
                    <h2>Check our tasty <span>Menu</span></h2>
                  </div>
          
                  <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                      <ul id="menu-flters">
                        <li data-filter="*" class="filter-active">Show All</li>
                        <li data-filter=".filter-starters">Starters</li>
                        <li data-filter=".filter-salads">Salads</li>
                        <li data-filter=".filter-specialty">Specialty</li>
                      </ul>
                    </div>
                  </div>
          
                  <div class="row menu-container">
          
                    <div class="col-lg-6 menu-item filter-starters">
                      <div class="menu-content">
                        <a href="#">Potato Nuggets</a><span>Ksh. 100</span>
                      </div>
                      <div class="menu-ingredients">
                       Contains 5 pieces
                      </div>
                    </div>
          
                    <div class="col-lg-6 menu-item filter-specialty">
                      <div class="menu-content">
                        <a href="#">Bubble Nuggets</a><span>Ksh. 100</span>
                      </div>
                      <div class="menu-ingredients">
                        Contains 3 pieces
                      </div>
                    </div>
          
                    <div class="col-lg-6 menu-item filter-starters">
                      <div class="menu-content">
                        <a href="#">Kebab</a><span>Ksh. 100</span>
                      </div>
                      <div class="menu-ingredients">
                       Contains 2 piece
                       
                      </div>
                    </div>
          
                    <div class="col-lg-6 menu-item filter-salads">
                      <div class="menu-content">
                        <a href="#">Smokies</a><span>Ksh. 100</span>
                      </div>
                      <div class="menu-ingredients">
                        Contains 3 pieces
                      </div>
                    </div>
          
                    <div class="col-lg-6 menu-item filter-specialty">
                      <div class="menu-content">
                        <a href="#">Boiled Eggs</a><span>Ksh. 100</span>
                      </div>
                      <div class="menu-ingredients">
                        Contains 4 Eggs
                      </div>
                    </div>
          
                    <div class="col-lg-6 menu-item filter-starters">
                      <div class="menu-content">
                        <a href="#">Chips</a><span>Ksh. 100</span>
                      </div>
                      <div class="menu-ingredients">
                        Special Spiced Chips For You
                      </div>
                    </div>
          
                    <div class="col-lg-6 menu-item filter-salads">
                      <div class="menu-content">
                        <a href="#"></a><span></span>
                      </div>
                      <div class="menu-ingredients">
                       
                      </div>
                    </div>
          
                    <div class="col-lg-6 menu-item filter-salads">
                      <div class="menu-content">
                        <a href="#"></a><span></span>
                      </div>
                      <div class="menu-ingredients">
                       
                      </div>
                    </div>
          
                    <div class="col-lg-6 menu-item filter-specialty">
                      <div class="menu-content">
                        <a href="#"></a><span></span>
                      </div>
                      <div class="menu-ingredients">
                        
                      </div>
                    </div>
          
                  </div>
          
                </div>
              </section><!-- End Menu Section -->
          
              <!-- ======= Specials Section ======= -->
              <section id="specials" class="specials">
                <div class="container">
          
                  <div class="section-title">
                    <h2>Check our <span>Specials</span></h2>
                    <p>specially prepared snacks is what we offer</p>
                  </div>
          
                  <div class="row">
                    <div class="col-lg-3">
                      <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                          <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">SET SNACKS</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Smokies</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Kebab</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Bubble Nuggets</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-bs-toggle="tab" href="#tab-5">French Fries(Chips)</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Pilau</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                      <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                          <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                              <h3>BEST SNACKING EVER...TRY THE TASTE</h3>
                              <p class="fst-italic">Jake's FastFoods has different recipes for different snacks just for you. Tatste the Taste of our snacks and we guarantee the licking of the finger.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                              <img src="static/img/specials-1.jpg" alt="" class="img-fluid">
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                          <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                              <h3>Et blanditiis nemo veritatis excepturi</h3>
                              <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                              <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                              <img src="static/img/specials-2.jpg" alt="" class="img-fluid">
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                          <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                              <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                              <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                              <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                              <img src="assets/img/specials-3.jpg" alt="" class="img-fluid">
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                          <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                              <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                              <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                              <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                              <img src="static/img/specials-4.jpg" alt="" class="img-fluid">
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                          <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                              <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                              <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                              <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                              <img src="static/img/specials-5.jpg" alt="" class="img-fluid">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          
                </div>
              </section><!-- End Specials Section -->
          
              <!-- ======= Events Section ======= -->
              <section id="events" class="events">
                <div class="container">
          
                  <div class="section-title">
                    <h2>Organize Your <span>Events</span> on our Services</h2>
                  </div>
          
                  <div class="events-slider swiper">
                    <div class="swiper-wrapper">
          
                      <div class="swiper-slide">
                        <div class="row event-item">
                          <div class="col-lg-6">
                            <img src="static/img/event-birthday.jpg" class="img-fluid" alt="">
                          </div>
                          <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Birthday Parties</h3>
                            <div class="price">
                              <p><span>Ksh.1300</span></p>
                            </div>
                            <p class="fst-italic">
                              We bake the most delicious and excellent cakes 
                            </p>
                            <ul>
                              <li><i class="bi bi-check-circle"></i> We do decorations</li>
                              <li><i class="bi bi-check-circle"></i> We prepare tables</li>
                              <li><i class="bi bi-check-circle"></i> </li>
                            </ul>
                            <p>
                            </p>
                          </div>
                        </div>
                      </div><!-- End testimonial item -->
          <hr>
                      <div class="swiper-slide">
                        <div class="row event-item">
                          <div class="col-lg-6">
                            <img src="static/img/event-private.jpg" class="img-fluid" alt="">
                          </div>
                          <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Cooking Lessons</h3>
                            <div class="price">
                              <p><span>Ksh.7000</span></p>
                            </div>
                            <p class="fst-italic">
                              Our Great team of Cheffs Offer cooking lessons both practically and theoritically
                            </p>
                            <ul>
                              <li><i class="bi bi-check-circle"></i> Cheffary masterclassess</li>
                              <li><i class="bi bi-check-circle"></i>Baking courses</li>
                              <li><i class="bi bi-check-circle"></i>To be part of our lessons click on the Contact button and notify us</li>
                            </ul>
                            <p>
                              Our team of chefs is the best. If you have ever tasted our menu, you'll surely testify to that.
                            </p>
                          </div>
                        </div>
                      </div><!-- End testimonial item -->
          
                      <hr>
                      <div class="swiper-slide">
                        <div class="row event-item">
                          <div class="col-lg-6">
                            <img src="static/img/event-custom.jpg" class="img-fluid" alt="">
                          </div>
                          <div class="col-lg-6 pt-4 pt-lg-0 content">
                            <h3>Home Cooking</h3>
                            <div class="price">
                              <p><span>KSh.1000</span></p>
                            </div>
                            <p class="fst-italic">
                             When you decide to change your recipes for a day, let Keyro Flavours be your first cosideration
                            </p>
                            <ul>
                              <li><i class="bi bi-check-circle"></i> We prepare meals at your home according to your request.</li>
                              <li><i class="bi bi-check-circle"></i> This is one of the best parts of our services.</li>
                              <li><i class="bi bi-check-circle"></i> We only prepare when booked and according to the meal request.</li>
                            </ul>
                            <p>
                              We are able to interact with our clients one on one. We are able to know what they likeand what they don't like
                            </p>
                          </div>
                        </div>
                      </div><!-- End testimonial item -->
          
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
          
                </div>
              </section><!-- End Events Section -->


          <hr>
              <!-- ======= Book A Table Section ======= -->
            <!--  <section id="book-a-table" class="book-a-table">
                <div class="container">
          
                  <div class="section-title">
                    <h2>Book a <span>Table</span></h2>
                    <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
                  </div>
          
                  <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                      <div class="col-lg-4 col-md-6 form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                        <div class="validate"></div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group mt-3">
                        <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group mt-3">
                        <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                        <div class="validate"></div>
                      </div>
                      <div class="col-lg-4 col-md-6 form-group mt-3">
                        <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                        <div class="validate"></div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                      <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                      <div class="loading">Loading</div>
                      <div class="error-message"></div>
                      <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                  </form>
          
                </div> S-->
              </section><!-- End Book A Table Section -->
            
              <!-- ======= Gallery Section ======= -->
              <section id="gallery" class="gallery">
                <div class="container-fluid">
          
                  <div class="section-title">
                    <h2>Some photos from <span>Our Restaurant</span></h2>
                    <p>This photos displays how awesome our restaurant is. The vie is the exact representation of us</p>
                  </div>
          
                  <div class="row g-0">
          
                    <div class="col-lg-3 col-md-4">
                      <div class="gallery-item">
                        <a href="static/img/gallery/gallery-1.jpg" class="gallery-lightbox">
                          <img src="static/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                        </a>
                      </div>
                    </div>
          
                    <div class="col-lg-3 col-md-4">
                      <div class="gallery-item">
                        <a href="static/img/gallery/gallery-2.jpg" class="gallery-lightbox">
                          <img src="static/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                        </a>
                      </div>
                    </div>
          
                    <div class="col-lg-3 col-md-4">
                      <div class="gallery-item">
                        <a href="static/img/gallery/gallery-3.jpg" class="gallery-lightbox">
                          <img src="static/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                        </a>
                      </div>
                    </div>
          
                    <div class="col-lg-3 col-md-4">
                      <div class="gallery-item">
                        <a href="static/img/gallery/gallery-4.jpg" class="gallery-lightbox">
                          <img src="static/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                        </a>
                      </div>
                    </div>
          
                    <div class="col-lg-3 col-md-4">
                      <div class="gallery-item">
                        <a href="static/img/gallery/gallery-5.jpg" class="gallery-lightbox">
                          <img src="static/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                        </a>
                      </div>
                    </div>
          
                    <div class="col-lg-3 col-md-4">
                      <div class="gallery-item">
                        <a href="static/img/gallery/gallery-6.jpg" class="gallery-lightbox">
                          <img src="static/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                        </a>
                      </div>
                    </div>
          
                    <div class="col-lg-3 col-md-4">
                      <div class="gallery-item">
                        <a href="static/img/gallery/gallery-7.jpg" class="gallery-lightbox">
                          <img src="static/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                        </a>
                      </div>
                    </div>
          
                    <div class="col-lg-3 col-md-4">
                      <div class="gallery-item">
                        <a href="static/img/gallery/gallery-8.jpg" class="gallery-lightbox">
                          <img src="static/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                        </a>
                      </div>
                    </div>
          
                  </div>
          
                </div>
              </section><!-- End Gallery Section -->
          
              <!-- ======= Chefs Section ======= -->
              <section id="chefs" class="chefs">
                <div class="container">
          
                  <div class="section-title">
                    <h2>Our Proffesional <span>Chefs</span></h2>
                    <p></p>
                  </div>
          
                  <div class="row">
          
                    <div class="col-lg-4 col-md-6">
                      <div class="member">
                        <div class="pic"><img src="static/img/chefs/team4.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                          <h4>Amos Orupia</h4>
                          <span>Master Chef</span>
                          <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-lg-4 col-md-6">
                      <div class="member">
                        <div class="pic"><img src="static/img/chefs/chefs-2.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                          <h4>Sarah Jhonson</h4>
                          <span>Patissier</span>
                          <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-lg-4 col-md-6">
                      <div class="member">
                        <div class="pic"><img src="static/img/chefs/chefs-3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                          <h4>William Anderson</h4>
                          <span>Cook</span>
                          <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
          
                  </div>
          
                </div>
              </section><!-- End Chefs Section -->
          
              <!-- ======= Testimonials Section ======= -->
              <section id="testimonials" class="testimonials">
                <div class="container position-relative">
          
                  <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">
          
                      <div class="swiper-slide">
                        <div class="testimonial-item">
                          <img src="static/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                          <h3>Saul Goodman</h3>
                          <h4>Ceo &amp; Founder</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                          </div>
                          <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                           
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                          </p>
                        </div>
                      </div><!-- End testimonial item -->
          
                      <div class="swiper-slide">
                        <div class="testimonial-item">
                          <img src="static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                          <h3>Sara Wilsson</h3>
                          <h4>Designer</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                          </div>
                          <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                          </p>
                        </div>
                      </div><!-- End testimonial item -->
          
                      <div class="swiper-slide">
                        <div class="testimonial-item">
                          <img src="static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                          <h3>Jena Karlis</h3>
                          <h4>Store Owner</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                          </div>
                          <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                          </p>
                        </div>
                      </div><!-- End testimonial item -->
          
                      <div class="swiper-slide">
                        <div class="testimonial-item">
                          <img src="static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                          <h3>Matt Brandon</h3>
                          <h4>Freelancer</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                          </div>
                          <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                          </p>
                        </div>
                      </div><!-- End testimonial item -->
          
                      <div class="swiper-slide">
                        <div class="testimonial-item">
                          <img src="static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                          <h3>John Larson</h3>
                          <h4>Entrepreneur</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                          </div>
                          <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                          </p>
                        </div>
                      </div><!-- End testimonial item -->
          
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
          
                </div>
              </section><!-- End Testimonials Section -->
          
              <!-- ======= Contact Section ======= -->
             
            </main><!-- End #main -->
          
        
            <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
          
            <!-- Vendor JS Files -->
            <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
            <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
            <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
            <script src="assets/vendor/php-email-form/validate.js"></script>
          
            <!-- Template Main JS File -->
            <script src="assets/js/main.js"></script>
          
          
          
          </html>



   {% block cta %}{% endblock cta %}



{% endblock content %}

  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  
 <script>
    {% block script %}{% endblock script %}
 </script>
</body>

<hr>

</html>
<section id="contact" class="contact">
   <div class="row">
    
      
          <div class="col-sm-6">
            <div class="contact-map">
              <iframe src="https://www.google.com/maps/embed/v1/place?q=New+York+University&amp;key=AIzaSyBSFRN6WWGYwmFi498qXXsD2UwkbmD74v4" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 360px;"></iframe>
            </div>
          </div><!-- end col -->
  
          <!-- Contact form -->
          
          <div class="col-sm-6">
            <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main" action="{% url 'home' %}">
            {% csrf_token %}
              <div class="form-group">
                <label for="name2"><font color="red"> Name </font></label>
                <input class="form-control" id="name2" name="name" type="text" placeholder="name">
                <div class="error" id="err-name" style="display: none;">Please enter name </font>font></div>
              </div> <!-- /Form-name -->
  
              <div class="form-group">
                <label for="email2"><font color="red">Email</font></label>
                <input class="form-control" id="email2" name="email" type="text" placeholder="email">
                <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> 
              </div> <!-- /Form-email -->
  
              <div class="form-group">
                <label for="message2"><font color="red">Message</font></label>
                <textarea class="form-control" id="message2" name="message" rows="5" placeholder="message">Message</textarea>
  
                <div class="error" id="err-message" style="display: none;">Please enter message</div>
              </div> <!-- /col -->
  
              <div class="row">            
                  <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Send</button>
                </div> <!-- /col -->
              </div> <!-- /row -->
  
            </form> <!-- /form -->
          </div> <!-- end col -->
  
        </div> <!-- end row -->
      </div>
      </div>
</section>
</body>
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>Delicious</h3>
        <p>Book your table and come have your experience. We guarantee a delicious meal and assumptious for you.</p>
        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>keyroamos</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">Keyroamos</a>
        </div>
      </div>
    </footer><!-- End Footer -->
  